<mat-toolbar class="footer">
  <p>
    <mat-button-toggle-group class="bar" appearance="legacy" name="fontStyle" aria-label="Font Style">
      <!-- <mat-button-toggle (click)="createCompanent($event)" value="0">Cadastro</mat-button-toggle> -->
      <mat-button-toggle (click)="createCompanent($event)" value="1">Produto</mat-button-toggle>
      <!-- <mat-button-toggle (click)="createCompanent($event)" value="2">Vendas</mat-button-toggle> -->
      <!-- <mat-button-toggle (click)="createCompanent($event)" value="3">Relatorio</mat-button-toggle> -->
    </mat-button-toggle-group>
  </p>    
</mat-toolbar>