<form [formGroup]="formCliente" (ngSubmit)="onSubmit()" class="form">

  <div class="form-group">
    <label for="nome">Nome</label>
    <br>
    <input type="text" class="form-control" name="nome" id="nome" required formControlName="nome">
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <br>
    <input type="text" class="form-control" name="email" id="email" required formControlName="email">
  </div>
  <div class="form-group">
    <label for="numero">Número</label>
    <br>
    <input type="text" class="form-control" name="numero" id="numero" required formControlName="numero">
  </div>
  <div class="form-group">
    <label for="cpf">CPF</label>
    <br>
    <input type="text" class="form-control" name="cpf" id="cpf" required formControlName="cpf">
  </div>

  <input type="submit" value="Salvar">
 

</form>