.form{
  margin-top: 80px;
  /* background-color: aqua; */
  margin: auto;
  display: grid;
  /* grid-template-columns: 20px  ; */
  grid-template-rows: 80px 80px 80px 80px;
  justify-content: center;
  height: 300px;
  
}